@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap");


//Colors
$theme-colors: (
        "primary": #4561EE, //dark violett
        "secondary": #DC59CB, //dark pink
        "info": #5D78FF, // light violett
        "dark": #0D1527, //dark blue
        "success": #57EBE6, // cyan
        "light": rgba(255, 255, 255, 0.4)
);

//Body
$body-bg: #0D1527; //background dark blue
$body-color: #FFF; //body font white

//Font
$font-family-sans-serif: 'Poppins', sans-serif; //font text
$headings-font-family: 'Poppins', sans-serif; //font headings
$headings-font-weight: 600; //semibold headings
$font-weight-bolder: 600; //font semibold

//Border
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//Navbar
$navbar-dark-color: #FFF;
$navbar-dark-hover-color: #4561EE;
$navbar-dark-active-color: #5D78FF;

$navbar-nav-link-padding-x: 1rem;

$navbar-light-toggler-border-color: transparent;


//Button
$btn-font-size: 16px;
$btn-padding-y: 0.5rem;
$btn-padding-x: 3rem;
$btn-border-radius: 0px;


//Input Form
$input-bg: none;
$input-border-width: 0;
$input-box-shadow: none;


//Cards
$card-border-width: none;
$card-border-radius: 0;


//Nav Tabs
$nav-tabs-border-color: #FC5421;
$nav-tabs-border-width: 2px;
$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-active-border-color: #FC5421;

$nav-tabs-link-active-color: #FC5421;


//utility
$utilities: (
        "opacity": (
                property: opacity,
                responsive: true,
                values: (
                        0: 0,
                        25: .25,
                        50: .5,
                        70: .70,
                        100: 1,
                )
        )
);

@import './custom-style';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
