#highscores-overview {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr 3fr;
    align-items: center;
}


@media (max-width: 500px) {
    #highscores-overview {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
