#login {
    #form-grid-password {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        input {
            grid-column: 1 / 3;
        }
    }
}
