#profile {
    .profile-highscores {
        display: grid;
        grid-template-columns: 1fr 0.6fr 1fr;
        align-items: center;
        div#highscores-image {
            background-color: #4561EE;
            width: 80px;
            height: 80px;
            margin-left: 1rem;
            background-size: cover;
        }
    }
}

@media (max-width: 500px) {
    #profile {
        .profile-highscores {
            display: grid;
            grid-template-columns: 1fr 1fr;
            #map {
                grid-column: 1 / 3;
                padding-bottom: 1rem;
            }
            #position {
                grid-row: 2/3;
                padding-left: 1rem;
                grid-column: 1/2;
            }
            #score {
                width: 120px;
                height: 50px;
                grid-row: 2/3;
                grid-column: 2/3;
                justify-self: flex-end;
            }
        }
    }
}
