#profile {
    #info-container {
        display: grid;
        grid-template-columns: 142px 1fr;
        column-gap: 20px;
        div#avatar {
            background-color: #4561EE;
            width: 130px;
            height: 130px;
            margin: 0.25rem;
            background-size: cover;
        }
        #info {
            div {
                display: flex;
            }
        }
        h6 {
            width: 70px;
            height: 30px;
            font-size: 13px;
            align-self: center;
            margin-bottom: 0;
        }
    }

    #statistics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    #most-played-map {
        display: flex;
        align-items: center;
        div#most-played-map-image {
            background: #4561EE;
            width: 100px;
            height: 100px;
            margin-left: 1rem;
            background-size: cover;
        }
    }
}



@media (max-width: 500px) {
    #profile {
        #info-container {
            display: grid;
            grid-template-columns: 112px 1fr;
            div#avatar {
                width: 100px;
                height: 100px;
                margin: 0.25rem;
            }
        }

        #statistics {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 1rem;
            column-gap: 1rem;
        }
    }
}