// Normalize
body {
    letter-spacing: 1px;
}

// Links
a {
    color: #4561ee !important;
    text-decoration: none !important;
    &:hover {
        color: #4561ee;
        text-decoration: underline;
    }
}

// Input
input.form-control::placeholder {
    color: rgba(255, 255, 255, 0.44);
}

// Button
button.btn.btn-primary {
    font-size: 13px;
    letter-spacing: 1.25px;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: #4561ee;
        border: 1px solid #4561ee;
        box-shadow: 3px 3px 15px 4px rgba(69, 97, 238, 0.6);
        transform: translate(0, -5px);
        transition: transform 0.1s ease;
    }
}

// Nav
nav {
    #navbarNav.navbar-collapse {
        // Button
        a#login {
            font-size: 13px;
            letter-spacing: 1.25px;
            &:hover,
            &:focus,
            &:active {
                color: #4561ee;
                background-color: #4561ee;
                border: 1px solid #4561ee;
                box-shadow: 3px 3px 15px 4px rgba(69, 97, 238, 0.6);
                transform: translate(0, -5px);
                transition: transform 0.1s ease;
            }
        }

        // Link
        a#register:hover {
            text-decoration: underline !important;
        }
    }
}

// Button with gradient
/*
    Write outer: div class = gradient-button
    Write inner: a class = skew fix (this is neccessary)
*/
.gradient-button {
    display: inline-block;
    transform: skew(-15deg);
    padding: 0.75em 2.5em;
    background: rgb(220, 89, 203);
    background: linear-gradient(
        71deg,
        rgba(220, 89, 203, 1) 0%,
        rgba(190, 122, 242, 1) 35%,
        rgba(87, 235, 230, 1) 100%
    );
    border: none;
    .skew-fix {
        display: inline-block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        transform: skew(15deg);
        border: none;
    }
}

// Form
#login-form {
    #form-grid-password {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        input {
            grid-column: 1 / 3;
        }
    }
}

// Login
.login-form-container {
    width: 600px;
}

@media (max-width: 992px) {
    .login-form-container {
        width: 100%;
    }
}

// Register
input.form-check-input:checked {
    background-color: #4561ee;
}

// Profile
#profile-info {
    display: grid;
    grid-template-columns: 142px 1fr;
    column-gap: 20px;
    div#profile-avatar {
        background: linear-gradient(
            71deg,
            rgba(220, 89, 203, 1) 0%,
            rgba(190, 122, 242, 1) 35%,
            rgba(87, 235, 230, 1) 100%
        );
        width: 130px;
        height: 130px;
        margin: 0.25rem;
    }
    #info {
        width: 300px;
        div {
            display: flex;
        }
    }
    h6 {
        width: 70px;
        height: 30px;
        font-size: 13px;
        align-self: center;
        margin-bottom: 0;
    }
}
